<%- include("partials/header"); -%>
<div class="container py-4 my-4">
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
<!-- <div class="jumbotron px-4 py-5 my-4 text-center container-fluid"> -->
    <h1 class="display-3">Transaction Failed!</h1>
    <img class="d-block mx-auto my-4" src="/images/warning.png" alt="" width="72" height="60">
    <p class="lead"> You do not have sufficient balance.</p>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/customers" role="button">Try Again Later</a>
    </p>
<!-- </div> -->
</div>
</div>
</div>

<%- include("partials/footer"); -%>