<%- include("partials/header"); -%>
<%- include("partials/navigation"); -%>

        <div class="px-4 py-5 my-4 text-center container-fluid">
            <img class="d-block mx-auto mb-4" src="/images/bank.png" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold big-heading">Welcome</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Spark Bank of India is an Indian government owned banking and financial services
                    company. It is under the ownership of Ministry of Finance, Government of India.It is the third
                    largest government owned bank in India.This bank was founded on 20 July 2021 in the State of Spark.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-center">
                    <button type="button" class="btn btn-light btn-lg  btn-outline-secondary px-4 gap-3 "
                        onclick="location.href='/customers'">View Customer</button>
                </div>
            </div>
        </div>

<%- include("partials/footer"); -%>